version: '3.9'
services:
  portainer:
    container_name: portainer
    image:  cr.portainer.io/portainer/portainer-ce:2.9.3
    ports:
      - "8000:8000"
      - "9443:9443"
    volumes:
      - data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: on-failure
volumes:
  data:


